<mat-card class="example-card" appearance="outlined">
    <img
      mat-card-image
      [src]="item.imageUrl ?? 'https://material.angular.dev/assets/img/examples/shiba2.jpg'"
      [alt]="item.title"
    />
    <div class="p-2">
      <h3 class="mb-1 text-base font-semibold">{{ item.title }}</h3>
      <p class="text-sm text-slate-600">
        {{ item.description }}
      </p>
    </div>
    <div>
      <button matButton>LIKE</button>
      <button matButton>SHARE</button>
    </div>
  </mat-card>
  