<div class="product-card">
  <div class="product-card__media ">
    <!-- <img class="product-card__img" [src]="item.imageUrl" [alt]="item.name" /> -->
    <img
      class="product-card__img w-full rounded-t-xl bg-transparent"
      [src]="item.imageUrl"
      [alt]="item.name"
    />
  </div>

  <div class="product-card__name">{{ item.name }}</div>

  <div class="product-card__footer">
    <span class="product-card__price">${{ item.price }}</span>

    <span class="product-card__actions">
      <p-button icon="pi pi-heart" severity="secondary" [outlined]="true" aria-label="Add to favorites" />
      <p-button
        icon="pi pi-shopping-cart"
        severity="secondary"
        [outlined]="true"
        aria-label="Add to cart"
      />
    </span>
  </div>

  <button type="button" class="product-card__order-btn">Add to Order</button>
</div>
